* {
  padding: 5px;
  margin: 5px;
}

div.photos {
	text-align: center;
	margin: 5px, color: green;
	padding: 5px, color: yellow;
	border: 10px;
	border-style:solid;
	border-color:#ff0000 #0000ff;
}
div.message{
	text-align: center;
	color: green;
	margin: 5px;
	padding: 5px;
	border: 10px;
}